canvas {
    border: 1px solid #d3d3d3;
    background-color: #b8b8b8;
}

body {
    background-color: rgb(53, 53, 53);
}

@font-face {
    font-family: comicSans;
    src: url(comic.woff);
}

div {
    color: #d9d9db;
    font-family: comicSans;
    
}
